<div class="text">
  <!-- <h4>{{ label }}</h4> -->

  <!-- <span class="total">{{ total }}</span> -->

  <span>
    <!-- <mat-icon color="primary">trending_up</mat-icon> -->
  </span>

  <!-- <span class="descrption">{{ percentage }}</span> -->
  <!-- <span> of target</span> -->
</div>

<div class="widget">
  <div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [stroke]="chartOptions.stroke"
      [dataLabels]="chartOptions.dataLabels"
      [yaxis]="chartOptions.yaxis"
      [labels]="chartOptions.labels"
      [legend]="chartOptions.legend"
      [title]="chartOptions.title"
      [theme]="chartOptions.theme"
      [subtitle]="chartOptions.subtitle"
    ></apx-chart>
  </div>
</div>
<!-- style="width: 100%; height: 60px; display: block" -->
