.layout {
  background: no-repeat url("../../../assets/img/fitbg1.jpg");
  background-size: cover;
  /* height: 100%; */
}

.button-space {
  margin: 5px 5px 0 5px;
}

.delete-button-space {
  margin: -15px 0 0 5px;
}

.num-width {
  width: 75px;
}

td {
  padding-right: 8px;
}

.bg_light_gray {
  background-color: rgba(255, 255, 255, 0.7);
}

.card {
  /* width: 600px; */
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.header-image {
  background-image: url("../../../assets/img/barbell.png");
  background-size: cover;
}
