<div class="layout" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center space-around">
    <div fxLayout="row" fxLayoutAlign="center center">
      <h1 style="color: lightgray">Sign up</h1>
    </div>

    <form class="login-form bg_light_gray">
      <mat-form-field class="login-full-width" appearance="fill">
        <mat-label>Displayed name</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input #nameInput matInput value="" />
      </mat-form-field>

      <mat-form-field class="login-full-width" appearance="fill">
        <mat-label>E-mail</mat-label>
        <mat-icon matPrefix> email</mat-icon>
        <input #emailInput matInput value="" />
      </mat-form-field>

      <mat-form-field class="login-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input #passwordInput type="password" matInput value="" />
      </mat-form-field>
    </form>
    <div>
      <div fxLayout="row" fxLayoutAlign="flex-end">
        <button
          mat-raised-button
          color="primary"
          style="margin-top: 15px"
          (click)="onSignupButtonClicked(emailInput.value, passwordInput.value)"
        >
          Sign up
        </button>
      </div>
      <br />
      <p style="color: lightgray">
        Have an account?
        <a style="color: yellow" routerLink="/login">Log in</a>
      </p>
    </div>
  </div>
</div>
