<a routerLink="/calendar">
  <mat-card class="card">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
      <!-- workout icon -->
      <div mat-card-avatar class="header-image"></div>
      <!-- edit buttons -->
      <div>
        <button
          class="button-space"
          matTooltip="Save data"
          matTooltipPosition="right"
          [matTooltipShowDelay]="500"
          [matTooltipHideDelay]="100"
          mat-fab
          color="primary"
          aria-label="Save data"
          (click)="saveWorkoutData()"
        >
          <mat-icon>save</mat-icon>
        </button>
        <button
          class="button-space"
          matTooltip="Save this workout as the default one"
          matTooltipPosition="right"
          [matTooltipShowDelay]="500"
          [matTooltipHideDelay]="100"
          mat-fab
          color="primary"
          aria-label="Save as template"
          (click)="saveWorkoutAsTemplate()"
        >
          <mat-icon> library_add </mat-icon>
        </button>
        <button
          class="button-space"
          matTooltip="Delete this workout"
          matTooltipPosition="right"
          [matTooltipShowDelay]="500"
          [matTooltipHideDelay]="100"
          mat-fab
          color="warn"
          aria-label="Delete workout"
          (click)="deleteWorkout()"
        >
          <mat-icon> delete </mat-icon>
        </button>
      </div>
      <!-- workout date -->
      <mat-card-subtitle style="font-size: large; color: black">
        {{ date | date }}</mat-card-subtitle
      >
    </mat-card-header>
  </mat-card>
</a>
